html, body, .stApp {
    height: 100%;
}

.stApp {
    background: linear-gradient(
        135deg,
        rgb(244, 210, 238) 0%,
        rgb(221, 120, 204) 50%,
        rgb(188, 19, 137) 100%
    );
    font-family: 'Segoe UI', sans-serif;
}

.card{
    background-color: rgb(79, 22, 154);
    border-radius:16px;
    box-shadow:0 8px 20px rgba(0,0,0,0.08);
    padding:25px;
    margin-bottom:25px;
}

h1,h2,h3{
    color:#f1722a;
}

div[data-testid="metric-container"]{
    background-color:#f8fafc;
    border-radius:16px;
    padding:15px;
    box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.prediction-box{
    background: linear-gradient(135deg, #dcfce7, #bbf7d0);
    padding:22px;
    border-radius:14px;
    text-align:center;
    font-size:22px;
    font-weight:bold;
    color:#14532d;
}